@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
input:focus{
    background: transparent;
}
input{
    outline: none;
    color: white;
}
.active{
    padding: 8px;
    background-color: cadetblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder{
    color: lightgray;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
.timeline,
.chats{
    overflow: auto;
    transition: color .3s ease;
}

